.RData
samples_data/
img/ldacc_model.RData
*.Rhistory
*.Rout
*.out
*.Rproj.user
*.html
*.png
/excluded_data/excluded_demos/
demographics/
.Rproj.user
EFL.xlsx
*.pdf
*.tex
*.docx
*.ini
*.RDatatmp
*.jpeg
OLD_SAMPLES/
R/OLD_Scripts/
